/*** sectioning elements ***/

body {

}

header {
  background-color: #f44242;
}

main {

}

footer {
  background-color: #3be5ac;
}

nav {

}

section {

}

aside {

}


/**** content styles ***/

h1 {
  color: #ffffff;
  margin: 0;
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {

}

blockquote {

}

ol {

}

ul {

}

li {

}

table {

}

tr {

}

th {

}

td {

}


/*** image styles ***/

img  {

}


/*** link styles ***/

a:link {

}

a:visited {

}

a:hover {

}

a:active {

}
